
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,300;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}
html, body{
    background-color: black;
    scroll-behavior: smooth;
}


.prodContainer{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}
/*CARD*/
.tarjeta-producto{

  height: 360px;
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 21, 34, 0.836);
  border-radius: 14px;
  cursor: pointer;
  user-select: none;
  transition: .2s;
}
.tarjeta-producto:hover{
  transform: scale(101%);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}
.prod-img{
  justify-self: flex-start;
  height: 300px;
  width: 240px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.obra-nombre{
  justify-self: center;
  align-self: center;
  font-weight: 300;
  font-style: oblique;
  font-size: 1.2rem;
  text-decoration: underline;
  color: white;
}
.obra-autor{
  justify-self: start;
  align-self: center;
  font-size: .9rem;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color:red;
}
.price{
  align-self: center;
  justify-self: end;
  font-size:1.52rem;
  font-weight: normal;
  color: red;
}
.btn-buy{
  cursor: pointer;
  width: 150px;
}
